* {
    font-family: 'Inter', sans-serif;
}
.color-theme {
    background-color: #011F26;
    color: #dddddd;
}
.color-theme-home {
    background-color: #011F26;
    color: #BFB78F;
}
.border-theme {
    border: #BFB78F 2px solid;
}
.border-radius {
    border-radius: 20px;
}
a {
    text-decoration: none;
}
a, a:link, a:visited, a:hover, a:active {
    color: #dddddd;
}
.homepage a, .homepage a:link, .homepage a:visited, .homepage a:hover, .homepage a:active {
    color: #BFB78F;
}
img {
    padding-bottom: 20px;
}
li {
    font-weight: 300;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.8rem;
}
h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 2em;
    /* margin-top: 0.83em; */
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.h2_first {
    margin-top: .83em;
}
.contact_body h2 {
    margin-top: .83em;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 {
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
p {
    font-weight: 300;
    font-size: 1em;
    line-height: 1.8rem;
}
.homepage h1 {
    margin: 0px;
    font-weight: bold;
    text-align: center;
}
.homepage h2 {
    margin: 0px;
    font-weight: normal;
    text-align: center;
}
.homepage h3 {
    margin: 0px;
    font-weight: bold;
}
.homepage {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}
.home-body {
    height: 25%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 50px;
}
.home-header {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-header h3 {
    padding-top: 10px;
}
.home-nav {
    height: 75%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    align-items: stretch;
}
.home-about {
    width: 50vw;
    /* width: 33vw; */
    margin-right: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-portfolio {
    width: 50vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* .home-contact {
    width: 33vw;
    margin-left: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #BFB78F 2px solid;
} */

nav {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    margin: 20px;
    margin-bottom: 0px;
}
#about_active, #portfolio_active, #contact_active{
    text-decoration: underline solid #BFB78F 3px;
}
.about_nav:hover, .portfolio_nav:hover, .contact_nav:hover {
    text-decoration: underline solid #BFB78F 2px;
}
nav img {
    padding-bottom: 0px;
}
nav h3 {
    margin: 20px;
    font-weight: normal;
}
.nav-items {
    display: flex;
}
.information {
    display: flex;
    flex-direction: column;
    min-height: 800px;
    max-width: 1000px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.portfolio {
    padding-left: 5vw;
    padding-right: 5vw;
    max-width: 1500px;
}
.contact_body h1, .information h1 {
    text-align: center;
}
.intro-paragraph {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.intro-paragraph img {
    width: 65%;
}
.information h3, .information h5, .download h4 {
    font-weight: normal;
}
.education {
    display: flex;
    column-gap: 20px;
    margin-bottom: 20px;
}
.education img {
    max-height: 50px;
    padding-bottom: 0px;
}
.education-text {
    display: flex;
    flex-direction: column;
}
.education-text h3 {
    margin: 0px;
}
.education-text p {
    color: #BFB78F;
}
#headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
    border-radius: 20px;
    padding-bottom: 0px;
}
.download-button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 30px;
}
.download {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    width: 100%;
    border-radius: 20px;
}
.download img {
    max-height: 25px;
    padding-bottom: 0px;
    padding-right: 10px;
}
.logos img {
    max-height: 100px;
    padding-right: 20px;
}
.contact_body {
    height: calc(100vh - 140px);
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 10vw;
    padding-right: 10vw;
}
.contact_info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contact_content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_content img{
    padding: 0px;
    padding-right: 20px;
    height: 40px;
}
/* ------------------------------------------------- */
.project-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
    column-gap: 40px;
}
.project-container h3 {
    margin-bottom: 10px;
}
.project-container h5 {
    margin-top: 0px;
    color: #BFB78F;
}
.project {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-size: 500px;
    border-radius: 20px;
    padding: 20px;
    background-position: center;
    background-color: #011F26;
}
#CAPS {
    background-image: url("../images/portfolio_images/caps_bg.svg");
}
#SPACES {
    background-image: url("../images/portfolio_images/spaces_bg.svg");
}
#CDL {
    background-image: url("../images/portfolio_images/cromaine_bg.svg");
}
#CAH  {
    background-image: url("../images/portfolio_images/cah_bg.svg");
}
.project-overview {
    width: 100%;
    display: flex;
    justify-content: space-around;
    column-gap: 20px;
    row-gap: 20px;
}
.project-overview h3 {
    color: #BFB78F;
    font-weight: bold;
}
.overview-component {
    min-width: 150px;
    max-width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.case-study h4 {
    color: #BFB78F;
    font-weight: bold;
}
.spaces-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.spaces-images img {
    max-height: 500px;
}
.project-list {
    list-style-position: inside;
    list-style: circle;
    margin: 0;
    padding-left: 40px;
}
.references {
    list-style: none;
    padding: 0px;
    font-size: .83em;
}
.persona-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 20px;
    margin-left: 1.33em;
    margin-right: 1.33em;
}
.persona-dropdown h4 {
    color: #dddddd;
    font-weight: normal;
    margin: 20px;
}
.persona-dropdown h2 {
    margin: 20px;

}
.persona-toggle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.persona-toggle:hover {
    cursor: pointer;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.dropdown {
    border-radius: 10px;
    border: #BFB78F 2px solid;
    padding: 10px;
}
.dropdown img {
    padding: 0px;
}
.cah-graphic {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}
.cah-graphic img {
    width: 100%;
    max-width: 750px;
    border-radius: 20px;
    padding: 0px;
}
.caps-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    column-gap: 20px;
    row-gap: 20px;
}
.caps-images img {
    width: 450px;
    max-height: 300px;
    border-radius: 20px;
    padding-bottom: 0px;
}

@media only screen and (max-width: 1000px) {
    .home-header {
        padding: 10px;
    }
    .home-body {
        margin: 20px;
        height: 30%;
    }
    .home-nav {
      flex-direction: column;
      margin:20px;
      margin-top: 0px;
      height: 70%;
    }
    .home-about {
        margin-right: 0px;
        width: 100%;
        flex-grow: 1;
        margin-bottom: 20px;
    }
    .home-portfolio {
        width: 100%;
        flex-grow: 1;
    }
    .home-contact {
        margin-left: 0px;
        width: 100%;
        flex-grow: 1;
        margin-top: 20px;
    }
    .homepage img {
        width: 10vw;
    }
    .intro-paragraph {
        grid-template-columns: auto;
    }
    .intro-paragraph img {
        margin-top: 20px;
        width: auto;
    }
  }
@media only screen and (max-width: 600px) {
    .project {
        width: 375px;
        height: 375px;
    }
    #CAPS, #SPACES, #CAH, #CDL {
        background-size: 375px;
    }
    #CAPS:hover, #SPACES:hover, #CAH:hover, #CDL:hover {
        background-size: 400px;
    }
}
@media only screen and (max-width: 750px) {
    nav {
        margin: 0px;
        justify-content: space-around;
        padding-left: 0vw;
        padding-right: 0vw;
    }
    .download {
        width: inherit;
    }
    .contact_body {
        height: calc(100vh - 181.02px);
    }
    .contact_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .contact_content img{
        padding-right: 0px;
    }
    .project-overview {
        flex-direction: column;
    }
    .overview-component {
        max-width: none;
    }
}
@media only screen and (max-width: 500px) {
    .spaces-images img {
        max-height: 350px;
    }
}
@media only screen and (max-width: 380px) {
    .contact_content h2 {
        font-size: 1.17em;
    }
}
