* {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
nav a, nav a:link, nav a:visited, nav a:hover, nav a:active {
    color: black;
}
img {
    padding-bottom: 20px;
}
h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 {
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
p {
    margin-bottom: 0.875em;
}
.homepage h1 {
    margin: 0px;
    font-weight: bold;
    text-align: center;
}
.homepage h2 {
    margin: 0px;
    font-weight: bold;
    text-align: center;
}
.homepage h3 {
    margin: 0px;
    font-weight: bold;
}
.homepage h4 {
    margin: 0px;
    font-size: 1em;
    font-weight: bold;
}
.homepage h5 {
    margin: 0px;
    font-weight: bold;
}
.homepage h6 {
    margin: 0px;
    font-weight: bold;
}
.homepage {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background-color: #E3E3E3;
}
.home-body {
    height: 25%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 50px;
    background-color: white;
    border-radius: 20px;
}
.home-header {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-header h3 {
    padding-top: 10px;
}
.home-nav {
    height: 75%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    align-items: stretch;
    border-radius: 20px;
}
.home-about {
    width: 33vw;
    margin-right: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #4EBA6F;
    box-shadow: 0px 0px 8px 0px rgba(78, 186, 111, 1);

}
.home-portfolio {
    width: 33vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #2D95BF;
    box-shadow: 0px 0px 8px 0px rgba(45, 149, 191, 1);

}
.home-contact {
    width: 33vw;
    margin-left: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #955BA5;
    box-shadow: 0px 0px 8px 0px rgba(149, 91, 165, 1);
}

@media only screen and (max-width: 1000px) {
    .home-header {
        padding: 10px;
    }
    .home-body {
        margin: 20px;
        height: 30%;
    }
    .home-nav {
      flex-direction: column;
      margin:20px;
      margin-top: 0px;
      height: 70%;
    }
    .home-about {
        margin-right: 0px;
        width: 100%;
        flex-grow: 1;
        margin-bottom: 20px;
    }
    .home-portfolio {
        width: 100%;
        flex-grow: 1;
    }
    .home-contact {
        margin-left: 0px;
        width: 100%;
        flex-grow: 1;
        margin-top: 20px;
    }
    .homepage.img {
        width: 10vw;
    }
  }
body {
    background-color: #E3E3E3;
}
body.about {
    background-color: #4EBA6F;
}
body.portfolio {
    background-color: #2D95BF;
}
body.contact {
    background-color: #955BA5;
}
.about-page {
    display: flex;
    flex-direction: column;
    background-color: #4EBA6F;
}
.portfolio-page {
    display: flex;
    flex-direction: column;
    background-color: #2D95BF;
}
nav {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: white;
    margin: 20px;
    margin-bottom: 0px;
    border-radius: 20px 20px 0px 0px;
}
#about_active {
    text-decoration: underline solid #4EBA6F 3px;
}
.about_nav:hover {
    text-decoration: underline solid #4EBA6F 2px;
}
#portfolio_active {
    text-decoration: underline solid #2D95BF 3px;
}
.portfolio_nav:hover {
    text-decoration: underline solid #2D95BF 2px;
}
#contact_active {
    text-decoration: underline solid #955BA5 3px;
}
.contact_nav:hover {
    text-decoration: underline solid #955BA5 2px;
}
nav img {
    padding-bottom: 0px;
}
nav h3 {
    margin: 20px;
}
.nav-items {
    display: flex;
}
.information {
    min-height: 800px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
}
.information h1, .contact_body h1 {
    text-align: center;
}
.education {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.education h4, .education h3, .information h3 {
    font-weight: normal;
}
.school {
    width: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.school img {
    max-height: 60px;
}
.education img {
    padding-bottom: 0px;
}
.education p {
    margin: 0em;
}
#headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
    margin-top: 20px;
    border-radius: 20px;
    padding-bottom: 0px;
}
.download-button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 30px;
}
.download {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #2D95BF;
    padding: 30px;
    width: 70%;
    border-radius: 20px;
    color: white;
    font-weight: normal;
    box-shadow: 0px 0px 8px 0px rgba(45, 149, 191, 1);
}
.download img {
    max-height: 30px;
    padding-bottom: 0px;
    padding-left: 10px;
}
.logos img {
    max-height: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.contact_body {
    height: calc(100vh - 140px);
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
}
.contact_info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contact_content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_content img{
    padding: 0px;
    padding-right: 20px;
    height: 40px;
}
@media only screen and (max-width: 750px) {
    nav {
        flex-direction: column;
        margin: 20px;
        margin-bottom: 0px;
    }
    .information{
        padding-left: 20px;
        padding-right: 20px;
    }
    nav img {
        padding-top: 20px;
    }
    .school {
        width: 100vw;
    }
    .education {
        flex-direction: row;
    }
    .download {
        width: inherit;
    }
    .contact_body {
        height: calc(100vh - 181.02px);
    }
    .contact_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .contact_content img{
        padding-right: 0px;
    }
}
@media only screen and (max-width: 380px) {
    .contact_content h2 {
        font-size: 1.17em;
    }
}